{
  "salt": "bcrypt salt",
  "keys": [
    {
      "hash": "bcrypt of the salt and the key",
      "expiration": 900,
      "roles": ["get", "set"]
    },
    {
      "hash": "bcrypt of the salt and the key",
      "roles": ["get"]
    }
  ],
  "secret": "(I_have_a_crush_on_Cortana)",
  "data": "./data",
  "hostname": "hostname.com",
  "ssl": {
    "ssl": true,
    "key": "key.pem",
    "cert": "certificate.cert"
  }
}
