{
  "salt": "bcrypt salt",
  "keys": [
    {
      "hash": "bcrypt the salt and the key",
      "expiration": 900,
      "roles": ["get", "set"]
    },
    {
      "hash": "bcrypt of the salt and the key",
      "roles": ["get"]
    }
  ],
  "secret": "I have a crush on Cortana",
  "db": {
    "host": "localhost",
    "user": "yetzel",
    "password": "ki11_th3_mall!",
    "database": "kea"
  },
  "ssl": {
    "hostname": "downloadmoreram.com",
    "key": "key.pem",
    "cert": "certificate.cert"
  }
}
