{
  "salt": "bcrypt salt",
  "keys": [
    {
      "hash": "bcrypt the salt and the key",
      "expiration": 900,
      "roles": ["get", "set"]
    },
    {
      "hash": "bcrypt of salt + key",
      "expiration": 3600,
      "roles": ["get"]
    }
  ],
  "secret": "I have a crush on Cortana",
  "db": {
    "host": "localhost",
    "user": "yetzel",
    "password": "ki11_th3_mall!",
    "database": "kea"
  }
}
